body {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

.input {
  @apply w-full h-14 px-4 rounded-xl border border-gray-300
         bg-white text-base text-gray-900
         placeholder:text-gray-400
         focus:outline-none focus:ring-2 focus:ring-blue-500
         focus:border-blue-500 transition;
}
